/* bb949b5d2448548deffe8a86e668b008 */

@font-face {
    font-family: "Arial Monospace";
    src: url('/Fonts/ArialMonospace.ttf');
    
}

@font-face {
    font-family: "Arial Monospace";
    src: url('/Fonts/ArialMonospace.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Cousine";
    src: url('/Fonts/Cousine-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Cousine";
    src: url('/Fonts/Cousine-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Cousine";
    src: url('/Fonts/Cousine-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: "Cousine";
    src: url('/Fonts/Cousine-Regular.ttf');
    
}

@font-face {
    font-family: "Droid Sans";
    src: url('/Fonts/DroidSans.ttf');
    
}

@font-face {
    font-family: "DymoFontInvers";
    src: url('/Fonts/DymoFontInvers.ttf');
    
}

@font-face {
    font-family: "Electronic Highway Sign";
    src: url('/Fonts/EHSMB.TTF');
    
}

@font-face {
    font-family: "EurasiaEx";
    src: url('/Fonts/EurasiaEx-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "EurasiaEx";
    src: url('/Fonts/EurasiaEx-Regular.ttf');
    
}

@font-face {
    font-family: "Eurostar";
    src: url('/Fonts/eurostarblackextended.ttf');
    
}

@font-face {
    font-family: "EuroStyle";
    src: url('/Fonts/eurostyle-normal.ttf');
    
}

@font-face {
    font-family: "Futura Md BT";
    src: url('/Fonts/futurab.ttf');
    
}

@font-face {
    font-family: "Futura Md BT";
    src: url('/Fonts/futurab.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "HandelGothic BT";
    src: url('/Fonts/HANDGOTN.TTF');
    
}

@font-face {
    font-family: "Lato";
    src: url('/Fonts/Lato-Black.ttf');
    
}

@font-face {
    font-family: "Lato";
    src: url('/Fonts/Lato-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "LCDMono";
    src: url('/Fonts/LCDMN___.TTF');
    
}

@font-face {
    font-family: "RussellSquare";
    src: url('/Fonts/RussellSquare.ttf');
    
}

@font-face {
    font-family: "Sui Generis Free";
    src: url('/Fonts/sui generis free.ttf');
    
}

@font-face {
    font-family: "Sui Generis";
    src: url('/Fonts/sui generis rg.ttf');
    
}

@font-face {
    font-family: "Sui Generis";
    src: url('/Fonts/SUIGBI_.TTF');
    font-style: italic;
}

@font-face {
    font-family: "Sui Generis";
    src: url('/Fonts/SUIGB__.TTF');
    font-weight: bold;
}

@font-face {
    font-family: "Sui Generis Light";
    src: url('/Fonts/SuiGenerisBoldItalicLight.ttf');
    
}

@font-face {
    font-family: "Sui Generis Light";
    src: url('/Fonts/SuiGenerisBoldItalicLight.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Arial";
    src: url('/Fonts/arial.ttf');
    
}

@font-face {
    font-family: "Arial";
    src: url('/Fonts/arialbd.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Arial";
    src: url('/Fonts/arialbi.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Arial";
    src: url('/Fonts/ariali.ttf');
    font-style: italic;
}

@font-face {
    font-family: "Bahnschrift";
    src: url('/Fonts/bahnschrift.ttf');
    
}

@font-face {
    font-family: "Calibri";
    src: url('/Fonts/calibri.ttf');
    
}

@font-face {
    font-family: "Calibri";
    src: url('/Fonts/calibrib.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Calibri";
    src: url('/Fonts/calibrii.ttf');
    font-style: italic;
}

@font-face {
    font-family: "Calibri";
    src: url('/Fonts/calibriz.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Cambria";
    src: url('/Fonts/cambriab.ttf');
    
}

@font-face {
    font-family: "Cambria";
    src: url('/Fonts/cambriab.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Cambria";
    src: url('/Fonts/cambriai.ttf');
    font-style: italic;
}

@font-face {
    font-family: "Cambria";
    src: url('/Fonts/cambriaz.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Candara";
    src: url('/Fonts/Candara.ttf');
    
}

@font-face {
    font-family: "Candara";
    src: url('/Fonts/Candarab.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Candara";
    src: url('/Fonts/Candarai.ttf');
    font-style: italic;
}

@font-face {
    font-family: "Candara";
    src: url('/Fonts/Candaraz.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Comic Sans MS";
    src: url('/Fonts/comic.ttf');
    
}

@font-face {
    font-family: "Comic Sans MS";
    src: url('/Fonts/comicbd.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Comic Sans MS";
    src: url('/Fonts/comici.ttf');
    font-style: italic;
}

@font-face {
    font-family: "Comic Sans MS";
    src: url('/Fonts/comicz.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Consolas";
    src: url('/Fonts/consola.ttf');
    
}

@font-face {
    font-family: "Consolas";
    src: url('/Fonts/consolab.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Consolas";
    src: url('/Fonts/consolai.ttf');
    font-style: italic;
}

@font-face {
    font-family: "Consolas";
    src: url('/Fonts/consolaz.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Constantia";
    src: url('/Fonts/constan.ttf');
    
}

@font-face {
    font-family: "Constantia";
    src: url('/Fonts/constanb.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Constantia";
    src: url('/Fonts/constani.ttf');
    font-style: italic;
}

@font-face {
    font-family: "Constantia";
    src: url('/Fonts/constanz.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Corbel";
    src: url('/Fonts/corbel.ttf');
    
}

@font-face {
    font-family: "Corbel";
    src: url('/Fonts/corbelb.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Corbel";
    src: url('/Fonts/corbeli.ttf');
    font-style: italic;
}

@font-face {
    font-family: "Corbel";
    src: url('/Fonts/corbelz.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Courier New";
    src: url('/Fonts/cour.ttf');
    
}

@font-face {
    font-family: "Courier New";
    src: url('/Fonts/courbd.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Courier New";
    src: url('/Fonts/courbi.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Courier New";
    src: url('/Fonts/couri.ttf');
    font-style: italic;
}

@font-face {
    font-family: "Ebrima";
    src: url('/Fonts/ebrima.ttf');
    
}

@font-face {
    font-family: "Ebrima";
    src: url('/Fonts/ebrimabd.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Franklin Gothic";
    src: url('/Fonts/framd.ttf');
    
}

@font-face {
    font-family: "Franklin Gothic";
    src: url('/Fonts/framdit.ttf');
    font-style: italic;
}

@font-face {
    font-family: "Gabriola";
    src: url('/Fonts/Gabriola.ttf');
    
}

@font-face {
    font-family: "Gadugi";
    src: url('/Fonts/gadugi.ttf');
    
}

@font-face {
    font-family: "Gadugi";
    src: url('/Fonts/gadugib.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Georgia";
    src: url('/Fonts/georgia.ttf');
    
}

@font-face {
    font-family: "Georgia";
    src: url('/Fonts/georgiab.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Georgia";
    src: url('/Fonts/georgiai.ttf');
    font-style: italic;
}

@font-face {
    font-family: "Georgia";
    src: url('/Fonts/georgiaz.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Microsoft Himalaya";
    src: url('/Fonts/himalaya.ttf');
    
}

@font-face {
    font-family: "HoloLens MDL2 Assets";
    src: url('/Fonts/holomdl2.ttf');
    
}

@font-face {
    font-family: "Impact";
    src: url('/Fonts/impact.ttf');
    
}

@font-face {
    font-family: "Ink Free";
    src: url('/Fonts/Inkfree.ttf');
    
}

@font-face {
    font-family: "Javanese Text";
    src: url('/Fonts/javatext.ttf');
    
}

@font-face {
    font-family: "Leelawadee UI";
    src: url('/Fonts/LeelaUIb.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Leelawadee UI";
    src: url('/Fonts/LeelawUI.ttf');
    
}

@font-face {
    font-family: "Lucida Console";
    src: url('/Fonts/lucon.ttf');
    
}

@font-face {
    font-family: "Lucida Sans Unicode";
    src: url('/Fonts/l_10646.ttf');
    
}

@font-face {
    font-family: "Malgun Gothic";
    src: url('/Fonts/malgun.ttf');
    
}

@font-face {
    font-family: "Malgun Gothic";
    src: url('/Fonts/malgunbd.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Marlett";
    src: url('/Fonts/marlett.ttf');
    
}

@font-face {
    font-family: "Microsoft Sans Serif";
    src: url('/Fonts/micross.ttf');
    
}

@font-face {
    font-family: "Myanmar Text";
    src: url('/Fonts/mmrtext.ttf');
    
}

@font-face {
    font-family: "Myanmar Text";
    src: url('/Fonts/mmrtextb.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Mongolian Baiti";
    src: url('/Fonts/monbaiti.ttf');
    
}

@font-face {
    font-family: "Microsoft Yi Baiti";
    src: url('/Fonts/msyi.ttf');
    
}

@font-face {
    font-family: "MV Boli";
    src: url('/Fonts/mvboli.ttf');
    
}

@font-face {
    font-family: "Nirmala UI";
    src: url('/Fonts/Nirmala.ttf');
    
}

@font-face {
    font-family: "Nirmala UI";
    src: url('/Fonts/NirmalaB.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Microsoft New Tai Lue";
    src: url('/Fonts/ntailu.ttf');
    
}

@font-face {
    font-family: "Microsoft New Tai Lue";
    src: url('/Fonts/ntailub.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Palatino Linotype";
    src: url('/Fonts/pala.ttf');
    
}

@font-face {
    font-family: "Palatino Linotype";
    src: url('/Fonts/palab.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Palatino Linotype";
    src: url('/Fonts/palabi.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Palatino Linotype";
    src: url('/Fonts/palai.ttf');
    font-style: italic;
}

@font-face {
    font-family: "Microsoft PhagsPa";
    src: url('/Fonts/phagspa.ttf');
    
}

@font-face {
    font-family: "Microsoft PhagsPa";
    src: url('/Fonts/phagspab.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Segoe MDL2 Assets";
    src: url('/Fonts/segmdl2.ttf');
    
}

@font-face {
    font-family: "Segoe Print";
    src: url('/Fonts/segoepr.ttf');
    
}

@font-face {
    font-family: "Segoe Print";
    src: url('/Fonts/segoeprb.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Segoe Script";
    src: url('/Fonts/segoesc.ttf');
    
}

@font-face {
    font-family: "Segoe Script";
    src: url('/Fonts/segoescb.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Segoe UI";
    src: url('/Fonts/segoeui.ttf');
    
}

@font-face {
    font-family: "Segoe UI";
    src: url('/Fonts/segoeuib.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Segoe UI";
    src: url('/Fonts/segoeuii.ttf');
    font-style: italic;
}

@font-face {
    font-family: "Segoe UI";
    src: url('/Fonts/segoeuiz.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Segoe UI Emoji";
    src: url('/Fonts/seguiemj.ttf');
    
}

@font-face {
    font-family: "Segoe UI Historic";
    src: url('/Fonts/seguihis.ttf');
    
}

@font-face {
    font-family: "Segoe UI Symbol";
    src: url('/Fonts/seguisym.ttf');
    
}

@font-face {
    font-family: "SimSun-ExtB";
    src: url('/Fonts/simsunb.ttf');
    
}

@font-face {
    font-family: "Sylfaen";
    src: url('/Fonts/sylfaen.ttf');
    
}

@font-face {
    font-family: "Symbol";
    src: url('/Fonts/symbol.ttf');
    
}

@font-face {
    font-family: "Tahoma";
    src: url('/Fonts/tahoma.ttf');
    
}

@font-face {
    font-family: "Tahoma";
    src: url('/Fonts/tahomabd.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Microsoft Tai Le";
    src: url('/Fonts/taile.ttf');
    
}

@font-face {
    font-family: "Microsoft Tai Le";
    src: url('/Fonts/taileb.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Times New Roman";
    src: url('/Fonts/times.ttf');
    
}

@font-face {
    font-family: "Times New Roman";
    src: url('/Fonts/timesbd.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Times New Roman";
    src: url('/Fonts/timesbi.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Times New Roman";
    src: url('/Fonts/timesi.ttf');
    font-style: italic;
}

@font-face {
    font-family: "Trebuchet MS";
    src: url('/Fonts/trebuc.ttf');
    
}

@font-face {
    font-family: "Trebuchet MS";
    src: url('/Fonts/trebucbd.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Trebuchet MS";
    src: url('/Fonts/trebucbi.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Trebuchet MS";
    src: url('/Fonts/trebucit.ttf');
    font-style: italic;
}

@font-face {
    font-family: "Verdana";
    src: url('/Fonts/verdana.ttf');
    
}

@font-face {
    font-family: "Verdana";
    src: url('/Fonts/verdanab.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Verdana";
    src: url('/Fonts/verdanai.ttf');
    font-style: italic;
}

@font-face {
    font-family: "Verdana";
    src: url('/Fonts/verdanaz.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Webdings";
    src: url('/Fonts/webdings.ttf');
    
}

@font-face {
    font-family: "Wingdings";
    src: url('/Fonts/wingding.ttf');
    
}
